<form id="create-receipt-form" action="#/createReceipt" method="post">
    <div class="col wide">
    </div>
    <div class="col wide">
    </div>
    <div class="col wide right">Total:</div>
    <div class="col" id="total">{{total}}</div>
    <div class="col">
        <input id="checkoutBtn" type="submit" value="Checkout" />
    </div>
</form>